[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
tensorflow = "*"
keras = "*"
numpy = "==1.16.1"
matplotlib = "*"
pyqt5 = "*"
pillow = "*"
jupyter = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
